.gev-filters-bar{
    background-color: #246ED3;
}

.gev-chart-container{
    position: relative;
    margin: auto;
    height: 55vh;
    width: 100%;
}

.gev-container{
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 2em;
}

.gev-wrap-filters{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.gev-wrap-filters select{
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    width: 100%;
    border-radius: 50px;
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: bold;
    color: #868B8D;
}
.gev-select-wrap{
    box-sizing: border-box;
    margin: 10px;
    position: relative;
    width: 180px;
}

.gev-select-wrap select{
    border: 2px solid #ffffff;
    cursor: pointer;
}

.gev-select-wrap select:focus{
    border-color:#22D0A4;
}


.gev-arrow-cont{
    position: absolute;
    right: 10px;
    top: 7px;
    pointer-events: none;
}

.gev-row{
    display: flex;
    flex-flow: row wrap;
}

.gev-col{
    width: 100%;
}

.gev-meta-chart{
    align-items: center;
    justify-content: space-between;
}

.gev-meta-chart .gev-col{
    width: auto;
}

.gev-download-report{
    border: 2px solid #246ED3;
    padding: 10px 20px;
    border-radius: 50px;
    line-height: 1em;
    color: #31CFA5;
    display: inline-block;
    transition: all .3s;
}

.gev-download-report .gev-download-report__text{
    margin-right: 10px;
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: bold;
    color: #246ED3;
}

.gev-general-report{
    text-align: center;
    margin-top: 50px;
}

.gev-general-report .gev-download-report{
    color: white;
    background-color: #31CFA5;
    border-color: #31CFA5;
}

.gev-general-report .gev-download-report .gev-download-report__text{
    color: white;
}

.gev-general-report .gev-download-report:hover{
    background-color: #17B4B7;
    border-color: #17B4B7;
}

#gev-btn-filter{
    margin: 10px;
    background-color: #22D0A4;
    border-color: #22D0A4;
    color: #001E64;
    font-family: 'FS Elliot Pro', sans-serif;
    outline: none;
}

#gev-cont-graphics{
    position: relative;
    overflow: hidden;
    min-height: 300px;
}

.gev-loader{
    text-align: center;
    padding: 3em;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    transform: translateY(-200%);
    opacity: 0;
    transition: opacity .4s;
    z-index: 4;
}

.gev-loader.active{
    opacity: 1;
    transform: translateY(0);
}

.gev-loader img{
    width: 100px;
}

.gev-not-found{
    text-align: center;
    font-family: 'FS Elliot Pro', sans-serif;
    font-size: 30px;
    color: #001C76;
}

.gev-tax-filters, .gev-tax-date{
    color: #246ED3;
    font-size: 14px;
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.gev-tax-date{
    text-transform: unset;
}

.gev-chart-title{
    color: #001C76;
    font-family: 'FS Elliot Pro', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

@media (max-width: 991.98px) {
    .gev-select-wrap{
        width: calc(90% / 3);
    }

    .gev-wrap-filters{
        justify-content: flex-start;
    }
}

@media (max-width: 575.98px) {
    .gev-select-wrap{
        width: 100%;
    }

    .gev-wrap-filters{
        padding: 1em;
    }

    .gev-chart-container{
        height: 60vh;
    }

    .gev-single-report{
        margin-bottom: 1em;
    }
}